html {
  visibility: hidden;
}

html.wf-active {
  visibility: visible;
}

h1 {
  margin: 0;
  padding: 0.5em;
  background: #666666;
  color: #f9f9f9;
}

h2 {
  padding: 0.3em 0.3em 0.3em 0.5em;
  border-top: 1px;
  border-bottom: 1px;
  border-left: 6px;
  border-right: 1px;
  border-color: #666666;
  border-style: solid;
}

h3 {
  padding: 0.2em 0.2em 0.2em 0.4em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 6px;
  border-top: 0;
  border-left: 6px;
  border-right: 0;
  border-bottom: 1px;
  border-color: #666666;
  border-style: solid;
}

h4 {
  margin-left: 0.75em;
  margin-bottom: 0;
  margin-top: 0em;
  margin-right: 0;
  padding: 0.2em;
  
  border-top: 0;
  border-bottom: 1px;
  border-left: 0;
  border-right: 0;
  border-style: solid;
  border-color: #666666;
}

p {
  padding-left: 1em;
}

html {
  background: #cccccc;
}

body {
  font-family: source-code-pro, "Yu Gothic UI", "Meiryo UI", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", Osaka, sans-serif;
  background: #f9f9f9;

  color: #666666;
  border: 1px solid #ccc;
  width: 90%;
  margin: 0.5em auto;
  padding: 0.5em;
  max-width: 1000px;
  line-height: 1.25;  
}

